/* 
Aufgabe: Aufgabe 2
Name: Catherina Arndt
Matrikel: 259418
Datum: 27.10.2018
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. 
Er wurde nicht kopiert und auch nicht diktiert.
*/

@charset "ISO-8859-1";

body > div {
	border: thin solid black;
	text-align: center;
	position: absolute;
	margin: 200px;
	float: left;
	width: 120px;
	height: 170px;
	border-radius: 5px;

.AbSt { 
        border = thin solid black;
        text-align = center;
        position = absolute;
        background-color = white;
        width = 90px;
        height = 140px;
        left = 50px;
        top = 20px;
        border-radius = 5px;
        color = black;
}

.AuSt {
        border = "thin solid black";
        text-align = "center";
        position = "absolute";
        background-color = "black";
        width = 90 + "px";
        height = 140 + "px";
        right = 50 + "px";
        top = 20 + "px";
        border-radius = 5 + "px";
        color = "white";