body {
    display: grid;
    grid-template-columns:max-content;
    grid-template-rows: max-content;
    margin-left: 1em;
    margin-right: 1em;
    background-color:  #ffffff;
    font-family: Century Gothic;
    border-width: 0.7em;

}

canvas {
    border-width: 0.2em;
    border-color:black;
    border-style: solid;
    z-index: 1;
    position: relative;
    left: 50px;

}

div {
    padding: 10px;
}

fieldset {
    width: 200px;
    float: left;
}

h1 {
    font-size: 24px;
    width: 400px;
    padding: none;
    padding-left: 80px;
}

h2 {
    float: left;
    padding-right: 50px;
}

#Feld {
    position: relative;
    left: 300px;
}
