body {
    display: grid;
    grid-template-columns:max-content;
    grid-template-rows: max-content;
    margin-left: 1em;
    margin-right: 1em;
    background-color:  #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border-width: 0.7em;

}

canvas {
    border-width: 0.2em;
    border-color:black;
    border-style: solid;
    z-index: 1;

}

div {
margin: 0.5em;
padding: 0.5em;
}

#ballContainer {
    width: 300px;
    height: 300px;
    overflow: visible;
    cursor: pointer;
    z-index: 2;
}

#ball {
    position: relative;
    left: 50px;
    top: 50px;
    transition: left .5s cubic-bezier(.42,-0.3,.78,1.25), 
                top .5s cubic-bezier(.42,-0.3,.78,1.25);
}

#overlay canvas, #ballContainer {
    position: absolute;
  }
